* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 47px 0 144px 42px;

}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #17233D;
    cursor: pointer;
    margin-right: 32px;
}

.button-header {
    background: #6FBF44;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    cursor: pointer;
}

.logo-image {
    width: 595.18px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}

div {
    display: inline-block;
    margin-left: 84.82px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.button-main {
    background: none;
    border: none;
    width: 112px;
    height: 27px;
    cursor: pointer;   
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #6FBF44;
}

main {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    header {
        margin: 24px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

     .link-header {
        display: none;
    }

    main {
        flex-direction: column; /* coloca tudo em coluna */
        text-align: center;
    }

    .logo-image {
        width: 100%;
        height: auto;
        margin: 0;
        display: block;
        order: 2; /* imagem vai pra baixo */
    }

    div {
        display: block;
        margin: 0;
        padding: 20px;
        order: 1; /* textos em cima */
    }

    h1 {
        font-size: 36px;
        line-height: 48px;
    }

    p {
        width: 100%;
        font-size: 16px;
        line-height: 28px;
        margin-top: 24px;
        margin-bottom: 32px;
    }
}
